*.stx
*.twr
*.ptwx
*.pad
*.bgn
*.ngd
*.lso
**/iseconfig/*
**/isim/*
*.xmsgs
*.ini
*.xreport
*.o
*.didat
*.c
*.sim
*.exe
*.sdb
*.wdb
*.proj
*.prj
*lockfile*
*.ncd
*.ngc 
*.xst 
*.syr 
*.twr 
*.unroutes 
*.xml 
*.xpi 
*.xst 
*.wdb 
*.html
*.map 
*.ngd 
*.stx 
*.prj*
experimento_1/isim
*.ipf
*.xsl
*.xwbt
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.bin
*.map
*.ngm
*.xrpt
*.lst
*.xmsg
*.ref
*.xbcd
*.pcf
*.mrp
*.csv
*.txt
*.xrpt
*.cmd_log
*.par
*.bit
*.bld
*.drc
*.log
*.xml
*.cmd
*.ngc
*.ngr
*.syr
