INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;
NET "oLed[0]" LOC = F12;
NET "oLed[0]" IOSTANDARD = LVTTL;
NET "oLed[0]" DRIVE = 8;
NET "oLed[1]" LOC = E12;
NET "oLed[1]" IOSTANDARD = LVTTL;
NET "oLed[1]" DRIVE = 8;
NET "oLed[2]" LOC = E11;
NET "oLed[2]" IOSTANDARD = LVTTL;
NET "oLed[2]" DRIVE = 8;
NET "oLed[3]" LOC = F11;
NET "oLed[3]" IOSTANDARD = LVTTL;
NET "oLed[3]" DRIVE = 8;
NET "oLed[4]" LOC = C11;
NET "oLed[4]" IOSTANDARD = LVTTL;
NET "oLed[4]" DRIVE = 8;
NET "oLed[5]" LOC = D11;
NET "oLed[5]" IOSTANDARD = LVTTL;
NET "oLed[5]" DRIVE = 8;
NET "oLed[6]" LOC = E9;
NET "oLed[6]" IOSTANDARD = LVTTL;
NET "oLed[6]" DRIVE = 8;
NET "oLed[7]" LOC = F9;
NET "oLed[7]" IOSTANDARD = LVTTL;
NET "oLed[7]" DRIVE = 8;

# For LCD Display
NET "oLCD_Enabled" LOC = M18; 
NET "oLCD_Enabled" IOSTANDARD = LVCMOS33; 
NET "oLCD_Enabled" DRIVE = 4;
NET "oLCD_RegisterSelect" LOC = L18; 
NET "oLCD_RegisterSelect" IOSTANDARD = LVCMOS33; 
NET "oLCD_RegisterSelect" DRIVE = 4;
NET "oLCD_ReadWrite" LOC = L17; 
NET "oLCD_ReadWrite" IOSTANDARD = LVCMOS33; 
NET "oLCD_ReadWrite" DRIVE = 4;
NET "oLCD_Data[0]" LOC = R15; 
NET "oLCD_Data[0]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[0]" DRIVE = 4;
NET "oLCD_Data[1]" LOC = R16; 
NET "oLCD_Data[1]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[1]" DRIVE = 4;
NET "oLCD_Data[2]" LOC = P17; 
NET "oLCD_Data[2]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[2]" DRIVE = 4;
NET "oLCD_Data[3]" LOC = M15; 
NET "oLCD_Data[3]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[3]" DRIVE = 4;
NET "oLCD_StrataFlashControl" LOC = D16;
NET "oLCD_StrataFlashControl" IOSTANDARD = LVCMOS33;
NET "oLCD_StrataFlashControl" DRIVE = 4;

# VGA Display
NET "oVGA_Red" LOC = "H14";
NET "oVGA_Red" IOSTANDARD = LVTTL;
NET "oVGA_Red" DRIVE = 8;
NET "oVGA_Red" SLEW = FAST;

NET "oVGA_Green" LOC = "H15";
NET "oVGA_Green" IOSTANDARD = LVTTL;
NET "oVGA_Green" DRIVE = 8;
NET "oVGA_Green" SLEW = FAST;

NET "oVGA_Blue" LOC = "G15";
NET "oVGA_Blue" IOSTANDARD = LVTTL;
NET "oVGA_Blue" DRIVE = 8;
NET "oVGA_Blue" SLEW = FAST;

NET "oVGA_HSync" LOC = "F15";
NET "oVGA_HSync" IOSTANDARD = LVTTL;
NET "oVGA_HSync" DRIVE = 8;
NET "oVGA_HSync" SLEW = FAST;

NET "oVGA_VSync" LOC = "F14";
NET "oVGA_VSync" IOSTANDARD = LVTTL;
NET "oVGA_VSync" DRIVE = 8;
NET "oVGA_VSync" SLEW = FAST;
