INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;
NET "oLed[0]" LOC = F12;
NET "oLed[0]" IOSTANDARD = LVTTL;
NET "oLed[0]" DRIVE = 8;
NET "oLed[1]" LOC = E12;
NET "oLed[1]" IOSTANDARD = LVTTL;
NET "oLed[1]" DRIVE = 8;
NET "oLed[2]" LOC = E11;
NET "oLed[2]" IOSTANDARD = LVTTL;
NET "oLed[2]" DRIVE = 8;
NET "oLed[3]" LOC = F11;
NET "oLed[3]" IOSTANDARD = LVTTL;
NET "oLed[3]" DRIVE = 8;
NET "oLed[4]" LOC = C11;
NET "oLed[4]" IOSTANDARD = LVTTL;
NET "oLed[4]" DRIVE = 8;
NET "oLed[5]" LOC = D11;
NET "oLed[5]" IOSTANDARD = LVTTL;
NET "oLed[5]" DRIVE = 8;
NET "oLed[6]" LOC = E9;
NET "oLed[6]" IOSTANDARD = LVTTL;
NET "oLed[6]" DRIVE = 8;
NET "oLed[7]" LOC = F9;
NET "oLed[7]" IOSTANDARD = LVTTL;
NET "oLed[7]" DRIVE = 8;

# For LCD Display
NET "oLCD_Enabled" LOC = M18; 
NET "oLCD_Enabled" IOSTANDARD = LVCMOS33; 
NET "oLCD_Enabled" DRIVE = 4;
NET "oLCD_RegisterSelect" LOC = L18; 
NET "oLCD_RegisterSelect" IOSTANDARD = LVCMOS33; 
NET "oLCD_RegisterSelect" DRIVE = 4;
NET "oLCD_ReadWrite" LOC = L17; 
NET "oLCD_ReadWrite" IOSTANDARD = LVCMOS33; 
NET "oLCD_ReadWrite" DRIVE = 4;
NET "oLCD_Data[0]" LOC = R15; 
NET "oLCD_Data[0]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[0]" DRIVE = 4;
NET "oLCD_Data[1]" LOC = R16; 
NET "oLCD_Data[1]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[1]" DRIVE = 4;
NET "oLCD_Data[2]" LOC = P17; 
NET "oLCD_Data[2]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[2]" DRIVE = 4;
NET "oLCD_Data[3]" LOC = M15; 
NET "oLCD_Data[3]" IOSTANDARD = LVCMOS33; 
NET "oLCD_Data[3]" DRIVE = 4;
NET "oLCD_StrataFlashControl" LOC = D16;
NET "oLCD_StrataFlashControl" IOSTANDARD = LVCMOS33;
NET "oLCD_StrataFlashControl" DRIVE = 4;

# VGA Display
NET "oVGA_RED" LOC = "H14";
NET "oVGA_RED" IOSTANDARD = LVTTL;
NET "oVGA_RED" DRIVE = 8;
NET "oVGA_RED" SLEW = FAST;

NET "oVGA_GREEN" LOC = "H15";
NET "oVGA_GREEN" IOSTANDARD = LVTTL;
NET "oVGA_GREEN" DRIVE = 8;
NET "oVGA_GREEN" SLEW = FAST;

NET "oVGA_BLUE" LOC = "G15";
NET "oVGA_BLUE" IOSTANDARD = LVTTL;
NET "oVGA_BLUE" DRIVE = 8;
NET "oVGA_BLUE" SLEW = FAST;

NET "oVGA_HSYNC" LOC = "F15";
NET "oVGA_HSYNC" IOSTANDARD = LVTTL;
NET "oVGA_HSYNC" DRIVE = 8;
NET "oVGA_HSYNC" SLEW = FAST;

NET "oVGA_VSYNC" LOC = "F14";
NET "oVGA_VSYNC" IOSTANDARD = LVTTL;
NET "oVGA_VSYNC" DRIVE = 8;
NET "oVGA_VSYNC" SLEW = FAST;

# Keyboard
NET "oPS2_DATA" LOC = "G13";
NET "oPS2_DATA" IOSTANDARD = LVTTL;
NET "oPS2_DATA" DRIVE = 8;
NET "oPS2_DATA" SLEW = FAST;

NET "oPS2_CLK" LOC = "G14";
NET "oPS2_CLK" IOSTANDARD = LVTTL;
NET "oPS2_CLK" DRIVE = 8;
NET "oPS2_CLK" SLEW = FAST;

