INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;

NET "oRGB[0]" LOC = "G15" ;
NET "oRGB[0]" IOSTANDARD = LVTTL;
NET "oRGB[0]" DRIVE = 8;
NET "oRGB[0]" SLEW = FAST;
NET "oRGB[1]" LOC = "H15" ;
NET "oRGB[1]" IOSTANDARD = LVTTL;
NET "oRGB[1]" DRIVE = 8;
NET "oRGB[1]" SLEW = FAST;
NET "oRGB[2]" LOC = "H14" ;
NET "oRGB[2]" IOSTANDARD = LVTTL;
NET "oRGB[2]" DRIVE = 8;
NET "oRGB[2]" SLEW = FAST;

NET "H_Sync" LOC = "F15" ;
NET "H_Sync" IOSTANDARD = LVTTL;
NET "H_Sync" DRIVE = 8;
NET "H_Sync" SLEW = FAST;
NET "V_Sync" LOC = "F14" ;
NET "V_Sync" IOSTANDARD = LVTTL;
NET "V_Sync" DRIVE = 8;
NET "V_Sync" SLEW = FAST;
